In [72]:
import nasdaqdatalink
import pandas as pd
import os
from dotenv import load_dotenv

load_dotenv()

df_stocks = pd.read_csv('..'+ os.getenv('over_the_counter'))

In [73]:
df_stocks.columns

Index(['Symbol', 'Security Name', 'Tier', 'Price', 'Change %', 'Vol',
       'Sec Type', 'Country', 'State'],
      dtype='object')

In [75]:
# lets just choose YELLQ
# Obtain the data from otcmarkets.com => traded stocks that are over the counter
df_stocks.loc[df_stocks['Symbol'] == 'YELLQ']

,Symbol,Security Name,Tier,Price,Change %,Vol,Sec Type,Country,State
11868,YELLQ,YELLOW CORP,Pink Current,2.53,15.0,1456529,Common Stock,USA,Utah

In [77]:
nasdaqdatalink.read_key( os.getenv('nasdaq_key'))
data = nasdaqdatalink.get("EIA/PET_RWTC_D")
print(data)

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
...           ...
2022-02-02  88.16
2022-02-03  90.17
2022-02-04  92.27
2022-02-07  91.25
2022-02-08  89.32

[9124 rows x 1 columns]